
    boby{
        background-coloor:blue;
        width:50%;
        border :3px solid black;
    }
    html{
        background-coloor:#2F4F4F;
        font-family: "Courier New",courier, monospace;  
    }
    h1#nome{
        margin-left: 305px;
        margin-bottom: -35px;

    }
    img#insta,img#git{
        width: 50px;
        height: 50px;

    }
    section{
        border-bottom: solid Grey;

    }
    
    
        
    
    
  