
    boby{
        background-coloor:blue;
        color: palevioletred;
        width:50%;
        margin:30px auto;
        border :3px solid pink;
    }
    html{
        background-coloor:#2F4F4F;
        font-family: "Courier New",courier, monospace;  
    }
    h1#nome{
        margin-left: 305px;
        margin-bottom: -35px;

    }
    
    section{
        border-bottom: solid Grey;

    }
    
    
        
    
    
  